<footer>
    <hr>
    <p><em>Capturing moments, one event at a time.</em></p>
    <nav>
        <a href="https://webpages.charlotte.edu/amwamba/">CLT Web</a> |
        <a href="https://amwamba-cell.github.io/">GitHub.io</a> |
        <a href="https://github.com/amwamba-cell">GitHub</a> |
        <a href="https://www.freecodecamp.org/yourprofile">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/angie_mwamba">Codecademy</a> |
        <a href="https://www.linkedin.com/in/angie-mwamba-a12818387/">LinkedIn</a>
    </nav>
    <p>Certified in ...</p>
    <p>Site Designed by <a href="LuxEventsLLc.co/">LuxEvent&amp;Photography.co</a></p>
    <p>Email: <a href="mailto:amwamba@charlotte.edu">amwamba@charlotte.edu</a></p>
    <p>Lux Events &amp; Photography LLC ©2026 Ange Mwamba</p>
</footer>
