<hr>
    <nav>
        <p>
        <a href="https://webpages.charlotte.edu/amwamba/">>Charlotte Webpage</a> |
        <a href="https://github.com/amwamba-cell" target="_blank" rel="noopener">GitHub</a> |
        <a href="https://amwamba-cell.github.io/" target="_blank" rel="noopener">GitHub.io</a> |
        <a href="https://amwamba-cell.github.io/itis3135/" target="_blank" rel="noopener">GitHub.io</a> |
        <a href="https://www.freecodecamp.org/yourprofile" target="_blank" rel="noopener">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/angie_mwamba" target="_blank" rel="noopener">Codecademy</a> |
        <a href="https://www.linkedin.com/in/angie-mwamba-a12818387/" target="_blank" rel="noopener">LinkedIn</a>
        </p>
    </nav>
        <p>&copy; 2026 Ange Mwamba</p>
        <p>Certified in <a href="#" target="_blank" rel="noopener">freeCodeCamp Responsive Web Design</a></p>
        <p>Site Designed by <a href="LuxEventsLLc.com/">Angie Mwamba</a> &copy;2026</p>